
@using Project_2.Models
@model Project_2.Models.BlogPost


@{
    ViewBag.Title = "DetailSlug";
}


<!--Start the Blog Posts Section-->

    <section class="blog lg">
        <!--Blogpost Container-->
        <div>
            <!-- start article -->
            <article class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2>
                        @Model.Title
                    </h2>
                </div>
                <!--BlogPostBody-->
                <div class="row">
                    <div class="col-full align-content-center" style="padding:60px">
                        <img src="@Model.ImagePath" width="500" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-full align-content-center" style="padding:60px">
                        @Html.Raw(Model.BlogPostBody)
                    </div>
                </div>
                <!--Author Section-->
                <div class="row" style="padding:60px 100px">
                    <div class="col-md-2">
                        <div class="hero-img mb-md50">
                            <img src="/Images/hero.jpg" width="60" class="rounded-circle" alt="3">
                        </div>
                    </div>

                    <div class="col-md-7">
                        <br />
                        <br />
                        <span class="text-black">
                            Posted by:<br>
                            Ranjana Banjara
                        </span>
                        <br />
                        <br />
                        <h4>
                            <span><span class="text-black">I am a Web Developer!</span></span>
                        </h4>
                    </div>
                </div>
            </article>
            <!-- end article -->
            <hr />

            <!--Comments Form-->

            <div id="addcomment">
                @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("BlogPostId", Model.ID)
                    <div class="row">
                        <div class="offset-md-3 col-md-4 pl-5">
                            @Html.TextArea("CommentBody", new { rows = 6, cols = 50, placeholder = "Add Comment" })
                        </div>
                    </div>
                    <span class="pl-5"></span>
                    <button class="offset-md-5 btn btn-primary" type="submit">Post</button>

                }
            </div>



            <div class="row pt-15 pl-5">
                <div class="offset-md-1">
                    <h4>Previous Comments!<br></h4>

                    @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
                    {

                        <div class="container pt-10">

                            
                            <div class="media">
                                <img src="~/Images/smile.jpg" class="align-self-start mr-6" style="width:90px">
                                <div class="media-body">
                                    <h6 class="pl-5">@comment.Author.Email :</h6>
                                    <h5 class="pl-5">@comment.CommentBody</h5>

                                    <h6 class="pl-5">On: @comment.Created.ToString("MMM dd, yyyy")</h6>


                                </div>

                            </div>

                        </div>



                    }
                </div>
            </div>
            <hr style="border:1px black" />

        </div>
        <!--End Blogpost Container-->
          
    </section>

<!--End the Blog Posts Section-->

























