@model Project_2.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
  

}

    <div class="row lg">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="container" style="padding-top:30px">
                <div class="panel-heading">
                    <h3>@ViewBag.Title.</h3>
                </div>

                <div class="panel-body">


                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Enter your email below to get a link to reset your password.....</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="row pt-10">
                            <div class="col-md-1 text-left">
                                <h4>@Html.LabelFor(m => m.Email)</h4>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2 pt-15 pb-15">

                                <button class="btn btn-danger">submit</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>



