@model Project_2.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;

}

<!doctype html>
<html class="fixed">
<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />



    <!-- Title  -->
    <title>Ranjana's Blog</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Images/favicon.ico" />

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100i,300,400,600,700" rel="stylesheet">

    <!-- Plugins-->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />



</head>


<body>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <div class="container" style="padding-top:30px">
                <div class="panel-heading">
                    <h1>@ViewBag.Title.</h1>
                </div>

                <div class="panel-body">


                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h2>Enter your email below to get a link to reset your password.....</h2>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-md-1 text-left">
                                <h3>@Html.LabelFor(m => m.Email)</h3>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2" style="padding-top:10px">

                                <button class="btn btn-danger">SUBMIT</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
