<!DOCTYPE html>
<html lang="en-us">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  


    <!-- Title  -->
    <title>Ranjana's Blog</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Images/favicon.ico" />

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100i,300,400,600,700" rel="stylesheet">

    <!-- Plugins-->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/et-line.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/helpers.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />


    <!-- Core Style Css -->

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">


</head>

<body>
    <!-- Start Loading -->
    <div class="loading">
        <div class="text-center middle">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    <!-- End Loading  -->
    <header class="header-area">

        <!-- Start Navbar -->

        <nav class="navbar navbar-expand-lg" style="background-color:cadetblue">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- logo  -->
                    <div class="header__logo">
                        <a class="logo" href="/">
                            <h5 style="margin-top:5px; color:#050c58" class="title-extra-sm"> 🆁🅰🅽🅹🅰🅽🅰'🆂 🅱🅻🅾🅶</h5>
                        </a>
                    </div>

                    <!-- navbar links -->
                    <ul class="navbar-nav ml-auto">

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Create", "Create", "BlogPosts", null, new { @class = "nav-link" })
                            </li>
                        }
                        <li class="nav-item">
                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="//ranjanaportfolio.azurewebsites.net/" target="_blank" title="Visit My Portfolio">About</a>
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href=@Url.Action("Custom", "Account")> Log Out </a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link" })
                            </li>
                        }


                    </ul>
                    <!--Search form for blogposts-->
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                    {
                        <div class="controls controls-row search-row">
                            <input   class="input-block-level" type="text"
                                   placeholder="Search">
                            <button id="searchStr" name="searchStr" class="btn btn-sm btn-outline-dark" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    }
                    <!--End of search form for Blogposts-->

                </div>
            </div>
        </nav>
        <!-- End Navbar -->
    </header>
    <!-- End header -->
  
 
    <!-- Start Blog Section -->
    <section class="blog" style="padding:100px 10px 0px 10px" data-scroll-index="2">

        @RenderBody()
    </section>
    <!-- End blog section -->
    <!-- StartFooter  -->
    <footer class="footer" style="background-color:cadetblue">
        <p class="title-extra-sm text-black">Copyright &copy; And Made With Love All Rights Reserved.</p>
    </footer>
    <!-- End Footer  -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.0.min.js"></script>

    <!-- popper.min -->
    <script src="~/Scripts/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="~/Scripts/scrollIt.min.js"></script>

    <!-- animated.headline -->
    <script src="~/Scripts/animated.headline.js"></script>

    <!-- jquery.waypoints.min -->
    <script src="~/Scripts/jquery.waypoints.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="~/Scripts/jquery.counterup.min.js"></script>

    <!-- owl carousel -->
    <script src="~/Scripts/owl.carousel.min.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>

    <!-- stellar js -->
    <script src="~/Scripts/jquery.stellar.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="~/Scripts/isotope.pkgd.min.js"></script>

    <!-- validator js-->
    <script src="~/Scripts/validator.js"></script>

    <!-- custom scripts -->
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: '#BlogPostBody'
            });
        });
    </script>

    @RenderSection("scripts", false)
</body>
</html>
